
.techteam {
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 10vw;
margin-left: 9vw;
margin-right: 9vw;
margin-bottom: 7vw;
gap:4vw;
@media(max-width:550px){
  flex-direction: column;
}
}

.tech-left {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap:4.5vw ;
    @media(max-width:550px){
width: 100%;
    }
}
.heading{
    font-family: IBM Plex Serif;
font-size: 3.8vw;
font-weight: 700;
line-height: 5vw;
letter-spacing: 0em;
text-align: left;
text-wrap: wrap;
color: rgba(0, 0, 0, 1);
animation: jump 5s ease-in-out 10s infinite;
@media(max-width:550px){
    font-size: 4.4vw;
}
@keyframes jump{
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.2);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}}



.text{
    font-family: IBM Plex Sans;
font-size: 1.6vw;
font-weight: 300;
/* line-height: 29px; */
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);
@media(max-width:550px){
    font-size: 2.2vw;
}
}
.button{
    display: flex;
    width: 10vw;
height: 4.5vw;
top: 276px;
padding: 18px, 36px, 18px, 36px;
border-radius: 5vw;
gap: 1vw;
background: rgba(0, 0, 0, 1);
flex-direction: row;
justify-content: center;
align-items: center;
cursor: pointer;
transition: transform 0.3s;
}
/* animation: wiggle 2s linear infinite;
}

/* Keyframes */
/* @keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  } */




/* .button:hover{
    transition: 0.5s ease-out;
    background-color: rgb(237, 170, 148);
} */
.button:hover {
    transform: scale(1.5);
    transition: 0.5s ease-out;
    background-color: rgb(237, 170, 148);
}

.button:active {
    transform: scale(0.8);
}
.explore{
    font-family: IBM Plex Sans;
font-size: 1.5vw;
font-weight: 500;
line-height: 1vw;
letter-spacing: 0em;
text-align: left;
color : rgba(255, 255, 255, 1);

}
.arrow{
 background-image: url('../../../public/images/arrow.png');   
 height: 1vw;
 width: 1vw;
 background-repeat: no-repeat;
 background-size: cover;
}
.tech-right{
background-image: url('../../../public/images/techpic.jpg');
width: 40%;
height:30vw;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
animation: rotation 20s infinite linear;
}
@keyframes rotation {

0%{
    transform: rotateZ(360deg);
   
}

}

.learn-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.learn{
    font-family: IBM Plex Sans;
font-size: 2.7vw;
font-weight: 400;
line-height: 3vw;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
@media(max-width:550px){
    font-size: 4vw;
}

}

.expandmore{
    display: flex;
    background-image: url('../../../public/images/expand_more.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5vw;
height: 5vw;
cursor: pointer;

@media(max-width:550px){
    width: 7vw;
    height: 7vw;
}

}
.expandmore:hover{
    transition: 0.5s ease-out;
    background-color: rgb(237, 170, 148);}
.about{
    display: flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 9vw;
margin-left: 9vw;
margin-right: 9vw;
margin-bottom: 5vw;
gap:4vw;
@media(max-width:550px){
    flex-direction: column-reverse;
  }
}

.about-left{
    display: flex;
    background-image: url('../../../public/images/image\ 9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
height: 28vw;
animation: rotation 20s infinite linear;
}
@keyframes rotation {

0%{
    transform: rotateZ(180deg);
   
}

}

.about-right{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2vw;
    @media(max-width:550px){
width: 100%;
    }
}
.aboutus{
    font-family: IBM Plex Serif;
font-size: 3.1vw;
font-weight: 600;
line-height: 2vw;
letter-spacing: 0em;
text-align: left;
@media(max-width:550px){
    font-size: 4.2vw;
}
}

.about-text{
    font-family: Inter;
font-size: 1.2vw;
font-weight: 400;
line-height: 1.8vw;
letter-spacing: 0em;
text-align: left;
animation-duration: 3s;
  animation-name: slidein;
@media(max-width:550px){
    font-size: 2.1vw;
    line-height: 2.5vw;
}

}

.join-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
align-items: last baseline;
margin-top: 9vw;
margin-left: 9vw;
margin-right: 9vw;
margin-bottom: 5vw;
gap:4vw;

}
.join-left{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.joinus{
    font-family: IBM Plex Serif;
font-size: 3.1vw;
font-weight: 600;
line-height: 3.5vw;
letter-spacing: 0em;
text-align: left;
@media(max-width:550px){
    font-size: 4.2vw;
    line-height: 2.5vw;
}
}
.join-text{
    font-family: Inter;
font-size: 1.4vw;
font-weight: 400;
line-height: 2vw;
letter-spacing: 0em;
text-align: left;
@media(max-width:550px){
    font-size: 2.1vw;
    line-height: 2.5vw;
}
}
.points{
    font-family: Inter;
font-size: 1.3vw;
font-weight: 400;
line-height: 2.3vw;
letter-spacing: 0em;
text-align: left;
margin: 0px;
@media(max-width:550px){
    font-size: 1.8vw;
    line-height: 2.5vw;
}
/* padding: 1px;     */
}
.join-right{
    display: flex;
    flex-direction: column;
    width: 25%;
height: 13vw;
border:1px solid black;
border-radius: 1.5vw;
justify-content: center;
align-items: center;
gap:1vw;
@media(max-width:550px){
   width: 60%;
}
}
.logo{
    width: 10vw;
height: 5vw;
gap: 10px;
background-image: url('../../../public/images/Frame\ 34.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
cursor: pointer;
mix-blend-mode: color-burn;
transition: transform 0.09s;
}
.join-right:hover{
    transform: scale(1.6);
    transition: 0.5s ease-in;
    background-color: rgb(237, 182, 148);
}
.join-right:active {
    transform: scale(0.8);
}
.email{
    font-family: Inter;
font-size: 1.2vw;
font-weight: 500;
line-height: 1vw;
letter-spacing: 0.2em;
text-align: center;

}
.email-address{
    font-family: Inter;
font-size: 1vw;
font-weight: 500;
line-height: 1vw;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
color:rgba(0, 0, 0, 0.5);

}